@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
}

.post {
  /*display: flex;*/
  padding: 5px;
  border: 2px solid #2d4d61;
  border-radius: 10px;
  margin-top: 10px;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
  /*background: url(background_for_post.jpg) no-repeat;*/
  background-size: cover;
  backdrop-filter: blur(10px);
}

.post__btns {
  display: flex;
  justify-content: flex-end;
}

.post-enter {
  transform: translateX(-350px);
}
.post-enter-active {
  transform: translateX(0px);
  transition: all 500ms ease-in;
}
.post-exit {
  opacity: 1;
}
.post-exit-active {
  transform: translateX(-350px);
  transition: all 500ms ease-in;
}

.page__wrapper {
  margin-top: 30px;
  display: flex;
}
/*Стили для кнопок страниц*/
.page {
  padding: 10px;
  border: 1px solid #55b4dd;
  cursor: pointer;
}

.page__current {
  border: 2px #c64dbe;
  font-weight: bold;
}

.navbar {
  height: 60px;
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 0 15px;
  /*background-image: url(background_for_nav2.jfif);
  background-repeat: repeat-x;
  background-size: contain;*/
  border-left: none;
  border-right: none;
  border-top: none;
  backdrop-filter: blur(6px);
  border-bottom: 6px solid;
  /*padding: 15px;*/
  border-image: linear-gradient(to right,
  #c64dbe 0px, /* Starting point */
    /*#2d4d61 calc(80px), !* End black point *!*/
  #55b4dd calc(50%), /* Starting red point */
    /*#ff0000 calc(50% + 250px), !* End red point *!
    #000000 calc(50% + 250px), !* Starting black point *!*/
  #c64dbe 100% /* End black point */) 47% 0%;
}

.navbar__links {
  align-self:flex-start;
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
}
nav{
  height: 70px;
  width: 65px;
  background-color: transparent;
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 50;
  backdrop-filter: blur(10px);
}
.linkText
{
  margin-left: 50px;
  background: linear-gradient(45deg, #c64dbe 0%, #55b4dd);
  /*background: #55b4dd;*/
  /*-webkit-text-stroke: .01em #2d4d61;*/
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  text-decoration: none;
}
.Id_of_car_text
{
  font-size: 20pt;
  background: linear-gradient(1deg, #c64dbe 0%, #55b4dd);
  /*background: #55b4dd;*/
  -webkit-text-stroke: .01em #2d4d61;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  /*background-color: #F5F5F5;*/
  background-color: transparent;
}

::-webkit-scrollbar
{
  width: 12px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: transparent;
  backdrop-filter: blur(5px);
  box-shadow: inset 0 0 6px black;
}

.nav_but {

  margin-top: 12px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  width: 50px;
  cursor: pointer;
}

.nav_but:before,
.nav_but:after,
.nav_but div {
  background: #fff;
  content: "";
  display: block;
  height: 6px;
  border-radius: 3px;
  margin: 7px 0;
  transition: 0.5s;
}
.nav_but:hover:before {
  transform: translateY(12px) rotate(135deg);
}
.nav_but:hover:after {
  transform: translateY(-12px) rotate(-135deg);
}
.nav_but:hover div {
  transform: scale(0);
}
/*.ramka {*/
/*    position: fixed;*/
/*    display: flex;*/
/*    top:45px;*/
/*    !*align-items: center;*!*/
/*    width: 80px; !* ширина *!*/
/*    height: 80px; !* высота *!*/
/*    !*margin: 50px auto;*! !* верхний и нижний отступы и горизонтальное выравнивание *!*/
/*    background: transparent; !* цвет фона *!*/
/*    backdrop-filter: blur(5px);*/
/*    border: 7px solid transparent; !* задаем сплошную прозрачную границу шириной в 20 пикселей *!*/
/*    z-index: 50;*/
/*    !* наша собственная диагональная граница, где мы указали что цвет начинает меняться от левого верхнего (top left) угла *!*/
/*    -moz-border-image: -moz-linear-gradient(top left, #ea5455 0%, #f8a71a 100%);*/
/*    -webkit-border-image: -webkit-linear-gradient(top left, #ea5455 0%, #f8a71a 100%);*/
/*    border-image: linear-gradient(to bottom right, #ea5455 0%, #f8a71a 100%);*/

/*    border-image-slice: 1; !* смещение фона границы *!*/
/*}*/
hr {
  border : 0;
  height: 2px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

form {
  display: flex;
  flex-direction: column;
  padding: 15px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
:root {
  --shadow-color: #FF9E9E;
  --shadow-color-light: white;
}
h1 {
  /*margin: calc(50vh - 40px) auto 0 auto;*/
  margin: 20px auto 0 auto;
  font-size: 65px;
  text-transform: uppercase;
  font-family: "Archivo Black", "Archivo", sans-serif;
  font-weight: normal;
  display: block;
  height: auto;
  text-align: center;
}
.name_of_category {

  display: inline-block;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 12pt;

}
.input_for_category {
}
.page_of_car {
  width: 60%;
  position: fixed; /* or absolute */
  top: 15%;
  left: 20%;
  /*text-align: center;*/

}


.logo-1 {
  color: white;
  animation: neon 3s infinite;
}

@keyframes neon {
  0% {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
    0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
    0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
  }
  50% {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
    0 0 5px var(--shadow-color-light), 0 0 15px var(--shadow-color-light), 0 0 25px var(--shadow-color-light),
    0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 60px var(--shadow-color), 0 0 80px var(--shadow-color), 0 0 110px var(--shadow-color), 0 0 210px var(--shadow-color);
  }
  100% {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
    0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
    0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
  }
}
